div {
  /* position: fixed;
  
  /* background-color: red; */
 position: relative;
  background-color: rgba(0, 0, 0, .2);
  width: 50px;
  height: 100px;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  top: 100px;
  left: 100px; */
}
